<p id="notice"><%= notice %></p>

<h1>Listing Dealers</h1>


<div class="row">
  <% @dealers.each do |dealer| %>
  <div class="col-md-4">
   <div class="panel panel-default">
    <div class="panel-body">
     <h2><%= dealer.name %></h2>
     <div class="btn-group">
      <%= link_to 'Show', dealer, class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_dealer_path(dealer), class: "btn btn-default" %>
      <%= link_to 'Destroy', dealer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
</div>
<% end %>
</div>


<br>

<%= link_to 'New Dealer', new_dealer_path, class: "btn btn-info" %>

<br><br>

